@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">+1</button>
<button class="btn btn-success" @onclick="DecrementCount">-1</button>
<button class="btn btn-danger" @onclick="ResetCount">Reset</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ResetCount() {
        currentCount=0;
    }

    private void DecrementCount(){
        currentCount--;
    }
}
